@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --White: hsl(0, 100%, 100%);
    --Purple100: hsl(275, 100%, 97%);
    --Purple600: hsl(292, 16%, 49%);
    --Purple950: hsl(292, 51.20%, 33.70%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(275, 100%, 97%);
}

.card {
    max-width: 400px;
    background-color: hsl(0, 100%, 100%);
    padding: 1rem;
    margin: 2rem;
    border-radius: 20px;
}

.card .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    h4 {
        width: 80%;
    }

    h4:hover {
        color: var(--Purple950);
    }

    button {
        background: none;
        outline: none;
        border: none;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .paragraph {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        opacity: 0;
        color: var(--Purple600);
    }
}

.paragraph.show {
    max-height: 500px;
    /* adjust as needed depending on content */
    opacity: 1;
}

.tile:nth-of-type(-n+3) {
    border-bottom: 1px solid #80808059;
}